# Dynamic Hedging

Idea behind dynamic hedging: to be risk on when the margin of error is wide and risk off when the margin for error is narrow.

In [4]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import collin_risk as collin
stocks = ['SPY', 'DIA', 'QQQ']
start_date = '1990-01-01'
daily_close = collin.get_stock_close_data(stocks, start_date)
daily_returns = collin.get_stock_return_data(stocks, start_date)
cum_returns = collin.get_stock_cum_return_data(stocks, start_date)
covmat = collin.get_stock_return_data(stocks, start_date).cov()
ann_returns = collin.annualized_data(daily_returns)['Annualized Returns']

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
daily_close

                   SPY         DIA         QQQ
1999-03-10  129.187500   97.937500   51.062500
1999-03-11  130.625000   99.312500   51.312500
1999-03-12  129.375000   98.640625   50.062500
1999-03-15  131.218750   99.734375   51.500000
1999-03-16  130.718750   99.437500   51.937500
...                ...         ...         ...
2022-07-08  388.670013  313.459991  295.350006
2022-07-11  384.230011  311.700012  289.040009
2022-07-12  380.829987  309.970001  286.239990
2022-07-13  378.829987  307.750000  285.649994
2022-07-14  377.910004  306.399994  286.670013

[5876 rows x 3 columns]